<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
    <div>
        <label for="name">Name</label>
        <input name="name">
    </div>
    <div>
        <label for="email">Email</label>
        <input name="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password">
    </div>
    <input type="Submit" value="SUBMIT">
</form>

